@import "../../assets/style/theme.scss";
@import "~antd/dist/antd.css";
.login-container {
    text-align: center;
    .logo {
        font-size: 50px;
        font-weight: bolder;
        color: $color-primary;
        position: absolute;
        top: 56px;
        margin-left: 50px;
    }
    .main {
        width: 400px;
        margin: 60px auto 0;
        padding: 50px 50px 30px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
        display: inline-block;
    }
    .ant-btn-primary {
        background: #187cb7;
        width: 140px;
        border: none;
    }
}
