.articleList-container {
    .article-arousel {
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 270px;
        }
    }
    .article-list {
        ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            li {
                position: relative;
                width: 100%;
                margin: 0 0 15px;
                padding: 15px 2px 20px 0;
                border-bottom: 1px solid #f0f0f0;
                .haveimg {
                    .wrap-img {
                        position: absolute;
                        top: 50%;
                        margin-top: -60px;
                        right: 0;
                        width: 150px;
                        height: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .article-content {
                        padding-right: 165px;
                    }
                }
                .article-title {
                    margin: -7px 0 4px;
                    display: inherit;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.5;
                }
                .abstract {
                    margin: 0 0 8px;
                    font-size: 13px;
                    line-height: 24px;
                    color: #999;
                }
            }
        }
    }
}
